@import "tailwindcss";

@theme {
  --color-bego: #FFEE00;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/Avenir-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Inter";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir";
}
